server {
	server_name webserv;
	listen 0.0.0.0:8000;

	root ./www/html;

	allow_methods GET;

	client_body_limit 512;

	location /board {
		allow_methods GET;
		root ./www/html;
	}

	location /board/content {
		allow_methods GET POST DELETE;
		root ./www/html/contents;
	}
	
	location /cgi {
		allow_methods GET POST;
		cgi_info php php-fpm;
	}
}